name: Build Windows EXE

on:
  push:
    branches: [master]
  workflow_dispatch:  # permite lanzarlo manualmente desde GitHub

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Build executable
        run: flet pack data_sheet_divider.py --icon img.png

      - name: Upload EXE artifact
        uses: actions/upload-artifact@v4
        with:
          name: DataSheetDivider-Windows
          path: dist/data_sheet_divider.exe
          if-no-files-found: error
